

section{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30vh;
}



body{
    overflow-x: hidden;
    box-sizing: border-box;
    background: url('../pictures/bg.jpg');
    background-size: cover;
    background-position-y: 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;

}

nav{
    ul{
        li{
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 0.8rem;
        }
    }

    .btn:focus {
        outline: none;
        box-shadow: none;
        }
}

#main-title{
    position: relative;
    margin-left: 10px;
}

#main-title::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 90%;
    right: -4px; 
    border-right: solid 1px white;
    animation: typer 0.50s infinite ease ;
}

@keyframes typer {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.contact-form{
    width: 40vw;

}

p{
    font-weight: 200;
}

.presentation-p{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    margin-top: 1rem;
}

.profil-picture{
    width: 250px;
    height: 293px;
    background-color: #4b6584;
}

.profil-description{
    width: 40vw;

    p{
        text-align: justify;
    }
}




h3{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

form{
    div{
        margin-bottom: 1rem;

        input::placeholder{
            font-size: 1rem;
        }

        textarea::placeholder{
            font-size: 1rem;
        }
    }
}

.navbar-sliding{
    position: absolute;
    top: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #52616bc4;
    border-bottom: solid 1px  #4b6584;
    z-index: 10;

}

.navbar-sliding.fixed{
    position: fixed;
    top:0
}

#accueil{
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
}


.accueil-section-div{
    height: 100vh;
    width: 100vw;
    background-image: url('../pictures/fond.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding: 2rem;

    a{
        text-decoration: none;
        color: white;
        padding: 1rem 2rem;
        margin: 1rem;
        border: solid 2px white;
        font-size: 1.2rem;
        font-weight: 500;

        &:hover{
            background-color: #4d58d13f;
        }
    }
    
}


.accueil-content{

    p{
        color: white;
        font-size: 3rem;
        margin: 0;
        padding: 0;
        font-weight: lighter;

        span{
            color: white;
            font-weight: 600;
            font-size: larger;
        }
    }
    

    h1{
        color: white;
        text-transform: capitalize;
        margin: 0;
        padding: 0;
        font-size: 3rem;
        font-weight: 600;
        
    }


}

.cards-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 80vh; 
    padding-top: 3rem;
    flex-wrap: wrap;
}

.card-div{
    height: 220px;
    width: 400px;
    border: solid 1px lightgray;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: 2rem;
    padding: 0;

    &:hover{
        
        transform: scale(1.03);
        transition: transform 200ms;
        
    }
}

.picture-card-div{
    width: inherit;
    height: 100%;
    background-size:cover;

}

.sport-card{
    background-image: url('../pictures/fitness-club.jpg');
    background-position: center;
}

.rh-card{
    background-image: url('../pictures/code.jpg');
    background-position: center;
}

.cv-card{
    background-image: url('../pictures/cv-en-ligne.png');
    background-position: center;
}

.pf-card{
    background-image: url('../pictures/portfolio.jpg');
    background-position: center;
}

.title-card-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 100%;


    h4{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 3rem;
        color: white;
    }

   
    
    button{
        width: 7rem;
        background-color: #3c9ddd;
    }
}

.titles-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        margin-bottom: 1rem;
    }
}

.a-icon{
    background-color: white;
}

.footer-icon{
    color:white;

   
}


.skill-titles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;

    span{
        font-weight: 300;
    }
}


.technical-skills-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.skills{

    margin: 2rem;

    h4{
        text-transform: capitalize;
        font-style: italic;
        margin-bottom: 0;
        font-weight: 300;
        font-size: 2rem;
        
    }
    
}



.underline-div{
    height: 1px;
    background-color: lightgray;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    width: 40vw;
}

.other-skills-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.languages-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    h5{
        color: #1E2252;
        font-size: 1.7rem;

        svg{
            vertical-align: -10%;

        }
    }
}

.languages-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.language-div{
    width: 18vw;
    height: 20vh;
    border: solid 1px lightgray;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    
    &:hover{
        box-shadow: 0 0 10px 2px rgba(211, 211, 211, 0.842);
        transition: createBorder 1s;
    }


    h6{
        text-transform: uppercase;
        color: #52616B;
        margin-top: 0;
    }

    span{
        color: gray;
    }

    
}

@keyframes createBorder {
    from {
      border-bottom: solid 0 #2980b9;
    }
    to {
      border-bottom: solid 3px #2980b9;
    }
}



.technical-skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.6rem;
    border: solid 1px lightgray;
    width: 100%;
    height: 25%;
    padding: 2rem 0;

    .front-title{
        color: #9b59b6;
    }

    .back-title{
        color: #2ecc71;
    }

    h5{
        
        font-size: 1.7rem;

        svg{
            vertical-align: -10%;

        }
    }

    .skill-elements{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 1.5rem;

        .skill-el{
            display: flex;
            flex-direction: column;
            align-items:flex-start;
            justify-content: center;
            margin-bottom: 0.5rem;
            
            span{
                margin: 0.5rem;
                color: gray;
                font-weight: 600;
                margin-left: 0;
            }

        }

    }

    &:hover{
        box-shadow: 0 0 10px 2px rgba(211, 211, 211, 0.842);
    }
}

.progress-bar{
    background-color: lightgray;
    height: 15px;
    width: 100%;
}

.html-fill{
    width: 90%;
    height: 100%;
    background-color: #9b59b6;
    margin-bottom: 0;
}

.css-fill{
    width: 80%;
    height: 100%;
    background-color: #9b59b6;
    margin-bottom: 0;
}

.js-fill{
    width: 70%;
    height: 100%;
    background-color: #9b59b6;
    margin-bottom: 0;
}

.react-fill{
    width: 60%;
    height: 100%;
    background-color: #9b59b6;
    margin-bottom: 0;
}

.express-fill{
    width: 70%;
    height: 100%;
    background-color: #9b59b6;
    margin-bottom: 0;
}

.node-fill{
    width: 80%;
    height: 100%;
    background-color: #9b59b6;
    margin-bottom: 0;
}

.bootstrap-fill{
    width: 80%;
    height: 100%;
    background-color: #9b59b6;
    margin-bottom: 0;
}

.sass-fill{
    width: 70%;
    height: 100%;
    background-color: #9b59b6;
    margin-bottom: 0;
}

.php-fill{
    width: 80%;
    height: 100%;
    background-color: #2ecc71;
    margin-bottom: 0;
}

.mysql-fill{
    width: 80%;
    height: 100%;
    background-color: #2ecc71;
    margin-bottom: 0;
}

.symfony-fill{
    width: 80%;
    height: 100%;
    background-color: #2ecc71;
    margin-bottom: 0;
}

.python-fill{
    width: 40%;
    height: 100%;
    background-color: #2ecc71;
    margin-bottom: 0;
}


.footer{
    background-color: #1E2022;
    height: 25vh;
}

.section-div{
    background-color: white;
    width: 100vw;
    min-height: 100vh;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.send-btn{
    background: #2ecc71;
    color: white;
    text-transform: uppercase;
    border: solid 1px #27ae60;
    margin-top: 2rem;

    &:hover{
        background-color: #27ae60;
        border: solid 1px #239e57;
        color: white;

    }
}

.person-icon, .envelope-icon, .chat-icon{
    color: #52616B;
    vertical-align: -2%;
}

.envelope-icon, .chat-icon{
    margin-right: 2px;
}


label{
    margin-bottom: 3px;
}

footer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-icons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a{
        width: 2.1rem;
        height: 2rem;
        border: solid 1px lightgray;
        border-radius: 50%;
        margin: 0 5px;
        text-decoration: none;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.footer-titles-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    p{
        margin: 0;
        font-size: 0.8rem;
    }
}

.loader-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #52616B;
    display: flex;
    align-items: center;
    justify-content: center;
}


.loader4 {
    width:45px;
    height:45px;
    display:inline-block;
    padding:0px;
    border-radius:100%;
    border:5px solid;
    border-top-color:#C9D6DF;
    border-bottom-color:rgba(255,255,255, 0.3);
    border-left-color:#C9D6DF;
    border-right-color:rgba(255,255,255, 0.3);
    -webkit-animation: loader4 1s ease-in-out infinite;
    animation: loader4 1s ease-in-out infinite;
}

@keyframes loader4 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@-webkit-keyframes loader4 {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1.5s transform ease;
  }
  

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

.modal-content{
    
    padding: 1rem;
    background-color: #7c8e9cd7;

    .modal-header{
        border-bottom: solid 1px #8c9ba6;
    }

    .modal-footer{
        border-top: solid 1px #8c9ba6;
    }


    .modal-body{
        background-color:#647582b6;
       

        p{
            color:#e2e6e9;
            font-weight: 400;
        
        }
        h5{
            color: #e2e6e9;
            font-size:1.4rem;
            
        }

        ul{
            li{
                color:#e2e6e9;
            }
        }
    }
}

.modal-title{
    font-size: 2rem;
    color:white;
    font-style: italic;
}

.visit-btn{
    background-color: #2ecc71;
}

.overlay-container {
  position: relative;
  
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: all .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}


.overlay-container:hover .overlay {
  opacity: 1;
  transform: scale(1.07);
  
}


@media Screen and (max-width:992px) {
    
    body{
        background-position-y: top;
    }
    .contact-form{
        width: 80vw;
    }

    .presentation-p{
        width: 90vw;
    }

    .cards-container{
        flex-direction: column;
    }

    .titles-container{
        p{
            text-align: center;
        }
    }

    .card-div{
        width: 350px;
        height: 192.5px;

    }

    .picture-card-div{
        max-width: inherit;
        height: 100%;
        
    }

    

    .accueil-content{

        h1{
            font-size: 1.8rem;
            margin-bottom: 5rem;
        }

        p{
            font-size: 1.8rem;

            span{
                font-size: 1.8rem;
            }
        }

    }

    .presentation-p{
        flex-direction: column;
        width: 80vw;


        .profil-picture{
            width: 250px;
            
        }

        .profil-description{
            width: 80vw;
            margin-top: 2rem;
        }
    }

    .skill-titles{
        span{
            text-align: center;
        }
    }

    .technical-skill{
        min-height: 40%;
        width: 100%;
        padding: 1rem;
    }

    .languages-div{
        flex-direction: column;
    }

    .language-div{
        width: 50vw;
        height: 30vh;
        margin-bottom: 0;
    }

    .section-div{
        padding: 3rem 1rem;
    }
}


@media Screen and (max-width:576px) {

    .accueil-section-div{
        
        background-image: url('../pictures/fond-sm.jpg');
        background-size: cover;
    }

    .card-div{
        width: 272.8px;
        height: 150px;

    }

}